body,html{
    height: 100%;
    margin:0 auto;
}   
.section1 { 
    background: url(../img/maxresdefault.jpg);
    background-attachment: fixed;
    background-color: #000;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    overflow: hidden;
    padding: 100px 0;
    table-layout: fixed;
    text-align: center;
    width: 100%;
 }
.gambartengah{
    border: 5px solid #fff;
    border-radius: 50%;
}

.judul {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 30px;
    padding: 15px 0px 0px;
     }
.intro{
    font-size: 17px;
    text-align: center;
    color: white;
    width: 50%;
    margin: auto
}
.section2{
    padding:100px 100px;
    background-color: gainsboro;
}
.about {
    font-family: arial;
    font-size:30px;  
    font-weight:700;
}
.col-kiri{
        text-align: justify;
}
.col-kanan{
    padding: 25px 20px;
    text-align: center;
}
.section3{
    padding:100px 100px;
    background-color: goldenrod;
}
.logo{
    font-size: 200px;
    color: azure;
    margin: -100px 0px;
    text-align: center;
}
.footer{
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px 10px;
    font-size: 13px;
}
